name: CI

on:
  push:
    branches:
      - main  

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python_version:
          - "3.7"
          - "3.8"

    name: test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      
      - name: Install dependencies
        run: python -m pip install pytest chess tkinter Pillow sqlite3

      - name: Run tests
        run: pytest