name: CI

on:
  push:
    branches:
      - main

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python_version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"

    name: test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: python -m pip install pytest coverage chess Pillow matplotlib

      - name: Run tests with coverage
        run: coverage run -m pytest

      - name: Generate coverage report
        run: coverage xml

      - name: Install xmlstarlet and awk
        run: |
          choco install -y xmlstarlet
          choco install -y gawk

      - name: Calculate coverage percentage
        id: coverage_percentage
        run: |
          COVERAGE_PERCENTAGE=$(xml.exe sel -t -v "sum(/coverage/packages/package[@name='src']/classes/class/@line-rate)" coverage.xml | gawk '{ printf("%.2f\n", $1) }')
          echo "::set-output name=coverage_percentage::$COVERAGE_PERCENTAGE"
        shell: bash

      - name: Set coverage badge
        run: |
          COVERAGE_PERCENTAGE=${{ steps.coverage_percentage.outputs.coverage_percentage }}
          curl -o coverage-badge.svg "https://img.shields.io/badge/Coverage-${COVERAGE_PERCENTAGE}%25-brightgreen"
