name: CI

on:
  push:
    branches:
      - main

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python_version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"

    name: test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      
      - name: Install dependencies
        run: python -m pip install pytest coverage chess Pillow matplotlib

      - name: Run tests with coverage
        run: coverage run -m pytest

      - name: Generate coverage report
        run: coverage xml

      - name: Calculate coverage percentage
        id: coverage_percentage
        run: |
          python -c "import xml.etree.ElementTree as ET; tree = ET.parse('coverage.xml'); total_lines = sum(int(elem.get('total')) for elem in tree.findall('.//line')); covered_lines = sum(int(elem.get('hits')) for elem in tree.findall('.//line')); coverage_percentage = round(covered_lines / total_lines * 100); print(coverage_percentage)"
        shell: bash

      - name: Create coverage badge
        run: |
          COVERAGE_PERCENTAGE=$(echo "${{ steps.coverage_percentage.outputs.stdout }}" | tr -d '\r')
          curl -o coverage-badge.svg "https://img.shields.io/badge/Coverage-${COVERAGE_PERCENTAGE}%25-brightgreen"
